Player/Overlay
{
	zorder 01
	
	container Panel(Player/ScoreCounter)
	{
		
		left 0
		top 0
		width 0.1
		height 0.1
		
		element TextArea(Player/TextScore)
		{
			left 0
			top 0.15
			width 0.2
			height 0.2
			
			font_name SdkTrays/Caption
			char_height 0.03
			colour 1.0 0.0 0.0
			caption Player
		}
	}
	
}
Player/MapPosition
{
	zorder 101
	container Panel(Player/MapMarker)
	{
		metrics_mode pixels
		width 10
		height 10
		element Panel(Player/MapMarker/Image)
		{
			metrics_mode pixels
			width 10
			height 10
			material Player1/Marker
		}
	}
}
